<table
  mat-table
  [dataSource]="pipelineHistory"
  class="mat-elevation-z8 scrollable-table"
>
  <ng-container matColumnDef="#">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let id; let i = index">{{ i }}</td>
  </ng-container>

  <!-- Pipeline 1 -->
  <ng-container matColumnDef="IF1">
    <th mat-header-cell *matHeaderCellDef>IF1</th>
    <td mat-cell *matCellDef="let instruction">
      <div [style.background-color]="instruction.Pipeline1.IF.backgroundColor">
        {{ instruction.Pipeline1.IF.toString() }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="ID1">
    <th mat-header-cell *matHeaderCellDef>ID1</th>
    <td mat-cell *matCellDef="let instruction">
      <div [style.background-color]="instruction.Pipeline1.ID.backgroundColor">
        {{ instruction.Pipeline1.ID.toString() }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="EX1">
    <th mat-header-cell *matHeaderCellDef>EX1</th>
    <td mat-cell *matCellDef="let instruction">
      <div [style.background-color]="instruction.Pipeline1.EX.backgroundColor">
        {{ instruction.Pipeline1.EX.toString() }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="MEM1">
    <th mat-header-cell *matHeaderCellDef>MEM1</th>
    <td mat-cell *matCellDef="let instruction">
      <div [style.background-color]="instruction.Pipeline1.MEM.backgroundColor">
        {{ instruction.Pipeline1.MEM.toString() }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="WB1">
    <th mat-header-cell *matHeaderCellDef>WB1</th>
    <td mat-cell *matCellDef="let instruction">
      <div [style.background-color]="instruction.Pipeline1.WB.backgroundColor">
        {{ instruction.Pipeline1.WB.toString() }}
      </div>
    </td>
  </ng-container>

  <!-- Pipeline 2 (mesma estrutura do Pipeline 1) -->
  <ng-container matColumnDef="IF2">
    <th mat-header-cell *matHeaderCellDef>IF2</th>
    <td mat-cell *matCellDef="let instruction">
      <div [style.background-color]="instruction.Pipeline2.IF.backgroundColor">
        {{ instruction.Pipeline2.IF.toString() }}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="ID2">
    <th mat-header-cell *matHeaderCellDef>ID2</th>
    <td mat-cell *matCellDef="let instruction">
      <div [style.background-color]="instruction.Pipeline2.ID.backgroundColor">
        {{ instruction.Pipeline2.ID.toString() }}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="EX2">
    <th mat-header-cell *matHeaderCellDef>EX2</th>
    <td mat-cell *matCellDef="let instruction">
      <div [style.background-color]="instruction.Pipeline2.EX.backgroundColor">
        {{ instruction.Pipeline2.EX.toString() }}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="MEM2">
    <th mat-header-cell *matHeaderCellDef>MEM2</th>
    <td mat-cell *matCellDef="let instruction">
      <div [style.background-color]="instruction.Pipeline2.MEM.backgroundColor">
        {{ instruction.Pipeline2.MEM.toString() }}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="WB2">
    <th mat-header-cell *matHeaderCellDef>WB2</th>
    <td mat-cell *matCellDef="let instruction">
      <div [style.background-color]="instruction.Pipeline2.WB.backgroundColor">
        {{ instruction.Pipeline2.WB.toString() }}
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="btn">
  <button mat-raised-button color="primary" (click)="({})">Simular</button>
</div>

<mat-divider></mat-divider>

<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 result">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Métricas</th>
    <td mat-cell *matCellDef="let result">{{ result.name }}</td>
  </ng-container>
  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef>Resultado</th>
    <td mat-cell *matCellDef="let result">{{ result.result }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
</table>
